<div class="content" style="padding: 20px;">
    <div class="container-header">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="container-title">Iconos</h1>
            </div>
        </div>
    </div>
    <!-- start content -->
    <mat-label>Mira todos los Material Icons en <a href="https://fonts.google.com/icons?selected=Material+Icons" target="_blank"
            style="text-decoration: none;">este link</a>.</mat-label>
    <mat-divider></mat-divider>
    <div *ngFor="let list of count" style="text-align: center;">
        <span class="material-icons">
            search
        </span>
        <span class="material-icons">
            home
        </span>
        <span class="material-icons">
            account_circle
        </span>
        <span class="material-icons">
            settings
        </span>
        <span class="material-icons">
            done
        </span><span class="material-icons">
            info
        </span>
        <span class="material-icons">
            check_circle
        </span>
        <span class="material-icons">
            delete
        </span>
        <span class="material-icons">
            shopping_cart
        </span>
        <span class="material-icons">
            visibility
        </span>
        <span class="material-icons">
            favorite
        </span>
        <span class="material-icons">
            logout
        </span>
        <span class="material-icons">
            description
        </span>
        <span class="material-icons">
            favorite_border
        </span>
        <span class="material-icons">
            mobile_off
        </span><span class="material-icons">
            wifi_lock
        </span>
        <span class="material-icons">
            access_alarm
        </span>
        <span class="material-icons">
            battery_saver
        </span><span class="material-icons">
            battery_unknown
        </span><span class="material-icons">
            wifi_calling_3
        </span><span class="material-icons">
            do_not_disturb_on_total_silence
        </span><span class="material-icons">
            lte_mobiledata
        </span><span class="material-icons">
            signal_cellular_no_sim
        </span><span class="material-icons">
            medication_liquid
        </span><span class="material-icons">
            wifi_find
        </span><span class="material-icons">
            apartment
        </span>
        <span class="material-icons">
            send_to_mobile
        </span>
        <span class="material-icons">
            graphic_eq
        </span><span class="material-icons">
            settings_suggest
        </span>
        <span class="material-icons">
            reviews
        </span><span class="material-icons">
            gps_fixed
        </span><span class="material-icons">
            pin
        </span><span class="material-icons">
            bluetooth
        </span><span class="material-icons">
            nightlight
        </span><span class="material-icons">
            location_searching
        </span><span class="material-icons">
            wallpaper
        </span><span class="material-icons">
            radar
        </span><span class="material-icons">
            signal_wifi_statusbar_4_bar
        </span><span class="material-icons">
            screenshot
        </span><span class="material-icons">
            bluetooth_searching
        </span><span class="material-icons">
            battery_unknown
        </span><span class="material-icons">
            wifi_calling_3
        </span><span class="material-icons">
            do_not_disturb_on_total_silence
        </span><span class="material-icons">
            lte_mobiledata
        </span><span class="material-icons">
            signal_cellular_no_sim
        </span><span class="material-icons">
            medication_liquid
        </span><span class="material-icons">
            wifi_find
        </span><span class="material-icons">
            apartment
        </span>
    </div>
    <!-- end content -->
</div>