.demo-btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.demo-icon {
  margin-right: 45px;
}

.demo-fab {
  margin-right: 30px;
}

mat-label {
  margin-bottom: 15px;
  //text-transform: capitalize;
}
