<div class="content" style="padding: 20px;">
    <div class="container-header">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="container-title">Botones</h1>
            </div>
        </div>
    </div>
    <!-- start content -->
    <mat-label> Mas información acerca de los Material Buttons en <a
        href="https://material.angular.io/components/button/overview#button-overview" target="_blank"
        style="text-decoration: none;">este link</a>.</mat-label>
        
    <div style="text-align: center;">
    <br><mat-divider></mat-divider><br>

    <button class="demo-btn" mat-button>basic</button>
    <button class="demo-btn" mat-button color="primary">primary</button>
    <button class="demo-btn" mat-button color="accent">accent</button>
    <button class="demo-btn" mat-button color="warn">warn</button>
    <button class="demo-btn" mat-button disabled>disabled</button>
    <a class="demo-btn" mat-button href="#/dashboard/pages/buttons" style="text-decoration: none;">link</a><br>
    <mat-label><b>mat-button</b> (Rectangular text button w/ no elevation)</mat-label>
    <br>
    <button class="demo-btn" mat-raised-button>basic</button>
    <button class="demo-btn" mat-raised-button color="primary">primary</button>
    <button class="demo-btn" mat-raised-button color="accent">accent</button>
    <button class="demo-btn" mat-raised-button color="warn">warn</button>
    <button class="demo-btn" mat-raised-button disabled>disabled</button>
    <a class="demo-btn" mat-raised-button href="#/dashboard/pages/buttons" style="text-decoration: none;">link</a><br>
    <mat-label><b>mat-raised-button</b> (Rectangular contained button w/ elevation)</mat-label>

    <br>
    <button class="demo-btn" mat-stroked-button>basic</button>
    <button class="demo-btn" mat-stroked-button color="primary">primary</button>
    <button class="demo-btn" mat-stroked-button color="accent">accent</button>
    <button class="demo-btn" mat-stroked-button color="warn">warn</button>
    <button class="demo-btn" mat-stroked-button disabled>disabled</button>
    <a class="demo-btn" mat-stroked-button href="#/dashboard/pages/buttons" style="text-decoration: none;">link</a><br>
    <mat-label><b>mat-stroked-button</b> (Rectangular outlined button w/ no elevation)</mat-label> 

    <br>
    <button class="demo-btn" mat-flat-button>basic</button>
    <button class="demo-btn" mat-flat-button color="primary">primary</button>
    <button class="demo-btn" mat-flat-button color="accent">accent</button>
    <button class="demo-btn" mat-flat-button color="warn">warn</button>
    <button class="demo-btn" mat-flat-button disabled>disabled</button>
    <a class="demo-btn" mat-flat-button href="#/dashboard/pages/buttons" style="text-decoration: none;">link</a><br>
    <mat-label><b>mat-flat-button</b> (Rectangular contained button w/ no elevation)</mat-label>
    <br>
    <button class="demo-icon" mat-icon-button><mat-icon>pages</mat-icon></button>
    <button class="demo-icon" mat-icon-button color="primary"><mat-icon>home</mat-icon></button>
    <button class="demo-icon" mat-icon-button color="accent"><mat-icon>settings</mat-icon></button>
    <button class="demo-icon" mat-icon-button color="warn"><mat-icon>account_circle</mat-icon></button>
    <button class="demo-icon" mat-icon-button disabled><mat-icon>manage_accounts</mat-icon></button>
    <a class="demo-icon" mat-icon-button href="#/dashboard/pages/buttons" style="text-decoration: none;"><mat-icon>link</mat-icon></a><br>
    <mat-label><b>mat-icon-button</b> (Circular button with a transparent background, meant to contain an icon)</mat-label>

    <br>
    <button class="demo-fab" mat-fab><mat-icon>pages</mat-icon></button>
    <button class="demo-fab" mat-fab color="primary"><mat-icon>home</mat-icon></button>
    <button class="demo-fab" mat-fab color="accent"><mat-icon>settings</mat-icon></button>
    <button class="demo-fab" mat-fab color="warn"><mat-icon>account_circle</mat-icon></button>
    <button class="demo-fab" mat-fab disabled><mat-icon>manage_accounts</mat-icon></button>
    <a class="demo-fab" mat-fab href="#/dashboard/pages/buttons" style="text-decoration: none;"><mat-icon>link</mat-icon></a><br>
    <mat-label><b>mat-fab</b> (Circular button w/ elevation, defaults to theme's accent color)</mat-label>

    <br>
    <button class="demo-fab" mat-mini-fab><mat-icon>pages</mat-icon></button>
    <button class="demo-fab" mat-mini-fab color="primary"><mat-icon>home</mat-icon></button>
    <button class="demo-fab" mat-mini-fab color="accent"><mat-icon>settings</mat-icon></button>
    <button class="demo-fab" mat-mini-fab color="warn"><mat-icon>account_circle</mat-icon></button>
    <button class="demo-fab" mat-mini-fab disabled><mat-icon>manage_accounts</mat-icon></button>
    <a class="demo-fab" mat-mini-fab href="#/dashboard/pages/buttons" style="text-decoration: none;"><mat-icon>link</mat-icon></a><br>
    <mat-label><b>mat-mini-fab</b> (Same as mat-fab but smaller)</mat-label>
    
    </div>
    <!-- end content -->
</div>