<!-- this section is ONLY shown on pages THAT CONTAIN "dashboard" in their path-->
<div class="sidebar-container" [class.sidebar-is-mobile]="mobileQuery.matches" *ngIf="dashboard">

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav opened="false" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"><br>
            <div style="text-align: center;">
                <a routerLink="dashboard/home" style="text-decoration: none;" (click)="snav.toggle()">
                    <img src="favicon.ico" alt="Logo" class="brand-image img-circle elevation-3 navbar-title">
                    <span class="navbar-title"><b>YouWeb</b></span>
                </a>
            </div><br>
            <mat-divider></mat-divider>

            <mat-nav-list>
                <mat-accordion>
                    <!--start links-->
                    <h2 matSubheader class="sub-header">Links</h2>
                    <a class="only-link" mat-list-item routerLink="/dashboard/users"
                        (click)=" mobileQuery.matches? snav.toggle() : '' ">
                        <mat-icon>person</mat-icon> Usuarios
                    </a>
                    <a class="only-link" mat-list-item routerLink="/dashboard/editor"
                        (click)=" mobileQuery.matches? snav.toggle() : '' ">
                        <mat-icon>edit</mat-icon> Editor
                    </a>
                    <mat-divider></mat-divider>
                    <h2 matSubheader class="sub-header">Páginas</h2>
                    <!--end links-->
                    <!--start accordion UI Elements -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>style</mat-icon><b> Elementos UI</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a class="item-panel" mat-list-item [routerLink]="nav.route"
                            (click)=" mobileQuery.matches? snav.toggle() : '' "
                            *ngFor="let nav of uiElements">{{nav.name}}</a>
                    </mat-expansion-panel>
                    <!--start accordion Extras -->
                    <br>
                    <mat-divider></mat-divider>
                </mat-accordion>
            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar class="sidebar-toolbar navbar">
                <div><button mat-icon-button class="header-icon" (click)="snav.toggle()"><i class="fas fa-bars"></i></button>
                    <button mat-icon-button class="header-icon" [matMenuTriggerFor]="style">
                      <mat-icon>style</mat-icon>
                    </button>
                    <mat-menu #style="matMenu">
                      <a mat-menu-item (click)="SetTheme('cool-theme')">Cool Theme</a>
                      <a mat-menu-item (click)="SetTheme('dark-theme')">Dark theme</a>
                    </mat-menu>
                  </div>
                <app-header></app-header>
            </mat-toolbar><br><br><br>
            <router-outlet (activate)="onActivate($event)" *ngIf="dashboard"></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
<router-outlet (activate)="onActivate($event)" *ngIf="session"></router-outlet>